.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 15px;
}
.all{
    
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border: 2px solid skyblue;
    padding: 20px;
}

