
  .searchForm{
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
  }

  input{
    width:20vw;
  }

  .department{
    width: 50vw;
  }

  .button{
    width: 100px;
    height: 40px;
    background: #4CAF50;
  }